@import ./styleguide

body
  background-color: $light-grey
  &.index
    overflow: hidden !important

h1, h2, h3, h4, h5, span, p, a, blockquote, em
  font-family: "Chronicle SSm A", "Chronicle SSm B"
  font-style: normal
  font-weight: 300
  line-height: 1.4em

=didot()
  font-family: "Quarto A", "Quarto B"
  font-style: normal
  font-weight: 800

.wrapper
  text-align: center

.page_issue
  &.loaded
    .top, .toc, .cover_section_back
      opacity: 1
      transform: translateY(0)
    &.reverse
      opacity: 0
      transform: translateY(20px) !important
      transition: all 1s cubic-bezier(0.11, 0.82, 0.32, 1)

  .back_link
    line-height: 30px
    color: $medium-grey
    font-size: 14px
    cursor: pointer
    position: absolute
    left: 10px
    top: 10px
    z-index: 100
    transition: all 0.2s
    &:hover
      opacity: 0.7

  .dark_overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(0, 0, 0, 0.6)
    z-index: 900
    display: none

  .sliding_toc
    position: fixed
    top: 50px
    left: -680px
    bottom: 0
    padding: 20px
    width: 680px
    background-color: #fff
    z-index: 1000
    opacity: 0
    transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000)
    overflow-y: scroll
    &.visible
      left: 0
      opacity: 1

  .sticky_nav
    position: fixed
    top: 0
    height: 50px
    left: 0
    right: 0
    background-color: #fff
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05)
    text-align: center
    z-index: 1000
    transition: transform 0.2s cubic-bezier(0.11, 0.82, 0.32, 1)
    transform: translateY(-10px)
    display: none
    &.show
      transform: translateY(0)

  .sticky_nav_left
    position: absolute
    left: 20px
    top: 0
    bottom: 0

  .sticky_nav_toc_link
    line-height: 50px
    color: $medium-grey
    font-size: 14px
    transition: all 0.2s
    cursor: pointer
    &:hover
      color: $action-grey

  .sticky_nav_pixels_name
    font-size: 24px
    +didot()
    color: #000
    line-height: 50px

  .sticky_nav_right
    position: absolute
    right: 20px
    top: 0
    bottom: 0

  .sticky_nav_right
    a
      color: $action-grey
      transition: all 0.2s
      line-height: 50px
      font-size: 14px
      &:hover
        color: $medium-grey

  .cover_section
    position: relative
    height: 100vh
    padding: 80px 20px
    width: 100%
    display: table

  .cover_section_align
    display: table-cell
    vertical-align: middle

  .cover_section_back
    position: absolute
    left: 20px
    top: 20px
    opacity: 0
    transform: translateY(20px)
    transition: all 1s cubic-bezier(0.11, 0.82, 0.32, 1)
    a
      transition: all 0.2s
      font-size: 14px
      color: $action-grey
      &:hover
        color: $medium-grey

  .top
    width: 100%
    padding: 0 10px
    text-align: center
    margin-bottom: 60px
    opacity: 0
    transform: translateY(20px)
    transition: all 1s cubic-bezier(0.11, 0.82, 0.32, 1)

  .pixels_name
    +didot()
    font-size: 64px
    color: #000
    margin: 0
    line-height: 1.2

  .date
    margin: 0
    font-size: 16px
    color: #000

  .toc
    max-width: 640px
    margin: 0 auto
    opacity: 0
    transform: translateY(20px)
    transition: all 1s cubic-bezier(0.11, 0.82, 0.32, 1)

  .toc_block
    position: relative
    width: 100%
    height: 100px
    padding: 10px 0
    text-align: left
    color: #000
    margin-bottom: 40px
    cursor: pointer
    transition: all 0.2s
    border-top: 1px solid $medium-grey
    &:hover
      opacity: 0.7
    &:last-child
      margin-bottom: 0
    &.large
      height: 345px

  .toc_block_heading
    text-align: left
    margin-bottom: 20px
    span
      border-bottom: 1px solid $medium-grey
      font-size: 12px
      font-weight: bold

  .toc_block_number
    font-size: 12px
    font-variant: small-caps
    font-weight: bold

  .toc_block_name
    margin: 0
    font-size: 28px
    color: #000
    +didot()

  .toc_block_info
    font-size: 0
    position: absolute
    bottom: 20px
    left: 0px
    right: 0px

  .toc_block_info_image
    display: inline-block
    width: 200px
    height: 240px
    margin-right: 40px
    vertical-align: middle

  .toc_block_info_quote
    display: inline-block
    font-size: 18px
    color: #000
    vertical-align: middle
    width: calc(100% - 240px)

  .start_reading
    display: inline-block
    text-align: center
    font-size: 14px
    color: $action-grey
    margin: 20px 0

  .content_section
    max-width: 1040px
    padding: 80px 20px
    margin: 0 auto
    border-top: 1px solid $light-grey-secondary

  .thankyou_section
    padding: 100px 20px
    width: 100%
    background-color: $light-grey-secondary

  .content_section_heading
    font-size: 42px
    +didot()
    margin: 0 0 60px 0
    color: #000
    &.thanks
      margin-bottom: 20px

  .content_section_separator
    max-width: 100px
    height: 1px
    background-color: $medium-grey
    margin: 30px auto 40px auto

  .content_section_body
    font-size: 16px
    max-width: 640px
    margin: 0 auto 20px auto
    color: #000
    text-align: left
    &.center
      text-align: center
    &.bold
      font-weight: bold

  .content_section_masthead
    margin-top: 60px

  .content_section_masthead_heading
    display: block
    font-size: 14px
    color: $medium-grey
    margin-bottom: 5px

  .content_section_image
    margin-bottom: 40px
    &.main
      width: 100%
    &.fit
      max-width: 640px
    &.small
      max-width: 300px
      margin-bottom: 20px
    &.pull
      max-width: 420px
      &.left
        margin: 0 20px 20px 0
        float: left
      &.right
        margin: 0 0 20px 20px
        float: right

  .content_section_blockquote
    display: inline-block
    margin-bottom: 40px
    padding: 40px 20px
    border-top: 3px solid $light-grey-secondary
    border-bottom: 3px solid $light-grey-secondary
    font-size: 20px
    &.fit
      max-width: 640px
    &.pull
      max-width: 420px
      &.left
        margin: 0 20px 20px 0
        float: left
      &.right
        margin: 0 0 20px 20px
        float: right

  .content_section_table
    display: inline-block
    margin-bottom: 40px
    text-align: left
    padding: 20px 0
    border-top: 1px solid $medium-grey
    border-bottom: 1px solid $medium-grey
    &.pull
      max-width: 300px
      &.left
        margin: 0 20px 20px 0
        float: left
      &.right
        margin: 0 0 20px 20px
        float: right

  .content_section_table_row
    margin-bottom: 10px

  .content_section_table_header
    display: block
    font-weight: bold
    font-size: 12px

  .content_section_table_body
    display: block
    font-size: 16px

  .content_section_person
    padding: 60px 0

  .content_section_profile
    margin-bottom: 40px

  .content_section_name
    display: block
    font-size: 28px
    +didot()

  .content_section_subtitle
    display: block
    font-size: 16px

  .content_section_wedding
    padding: 40px 0
    font-size: 0

  .content_section_wedding_photo
    max-width: 300px
    display: inline-block
    vertical-align: middle

  .content_section_wedding_info
    display: inline-block
    width: calc(100% - 300px)
    padding-left: 40px
    text-align: left
    vertical-align: middle

  .content_section_wedding_name
    display: block
    font-size: 28px
    +didot()
    color: #000

  .content_section_wedding_date
    display: block
    font-size: 16px
    color: $action-grey
    margin-bottom: 20px

  .content_section_wedding_text
    font-size: 16px
    color: #000
    &.bold
      font-weight: bold

.page_home
  &.loaded
    .issue
      transition: transform 1s cubic-bezier(0.11, 0.82, 0.32, 1), opacity 1s cubic-bezier(0.11, 0.82, 0.32, 1), box-shadow 0.5s cubic-bezier(0.29, 0.9, 0.36, 1)
      transform: scale(1)
      opacity: 1
    &.reverse
      .controls_arrow, .controls_keys
        opacity: 0
      .issue
        opacity: 0
        transform: scale(0.95) !important
  &.ready_for_hover
    .controls_arrow, .controls_keys
      opacity: 0.4
    .controls_arrow
      &:hover
        opacity: 1
    .issue
      transition: left 1s cubic-bezier(0.29, 0.9, 0.36, 1), transform 1s cubic-bezier(0.11, 0.82, 0.32, 1), opacity 1s cubic-bezier(0.11, 0.82, 0.32, 1), box-shadow 0.5s cubic-bezier(0.29, 0.9, 0.36, 1)
      &:hover
        transform: scale(1.005)
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3)
      &:active
        transform: scale(1)
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15)

.issue
  position: absolute
  display: inline-block
  top: 180px
  width: 593px
  height: 816px
  background-size: cover
  background-color: rgba($action-grey, 0.5)
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15)
  cursor: pointer
  transition: box-shadow 0.5s cubic-bezier(0.29, 0.9, 0.36, 1), transform 0.5s cubic-bezier(0.29, 0.9, 0.36, 1)
  opacity: 0
  transform: scale(0.95)
  img
    width: 100%
    height: 100%

.controls
  position: absolute
  top: 75px
  left: 50%
  margin-left: -90px
  width: 180px
  height: 25px

.controls_arrow
  position: absolute
  width: 23px
  height: 16px
  background-image: url('/images/arrow.svg')
  background-repeat: no-repeat
  background-size: cover
  left: 0
  cursor: pointer
  opacity: 0
  transition: all 0.4s
  &.right
    transform: rotate(180deg)
    left: auto
    right: 0

.controls_keys
  position: absolute
  width: 38px
  height: 25px
  left: 50%
  bottom: 4px
  opacity: 0
  transform: translateX(-50%)
  transition: all 0.4s
  background-image: url('/images/keys.svg')
  background-repeat: no-repeat
  background-size: cover

@media only screen and (max-width: 480px)
  .controls_keys
    background-image: url('/images/swipe.svg')
    background-position: center
    background-size: contain

@media only screen and (max-width: 700px)
  .page_issue
    .sticky_nav_right
      display: none
    .sliding_toc
      width: auto
      max-width: 680px
    .toc_block
      &.large
        height: 100px
    .toc_block_info
      display: none
    .content_section_table, .content_section_blockquote
      width: 100%
      &.pull
        max-width: none
        &.right
          float: none
          margin: 0 0 20px 0
        &.left
          float: none
          margin: 0 0 20px 0
    .content_section_image
      width: 100%
      &.pull
        float: none
        max-width: 100%
    .content_section_wedding_photo
      display: block
      margin: 0 auto 20px auto
    .content_section_wedding_info
      display: block
      width: calc(100%)
      padding: 0

@keyframes fadeIn
  0%
    opacity: 0
    transform: scale(0.95)
  100%
    opacity: 1
    transform: scale(1)

@keyframes fadeOut
  0%
    opacity: 1
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(0.95)

@keyframes slideUp
  0%
    opacity: 0
    transform: translateY(20px)
  100%
    opacity: 1
    transform: translateY(0)
