---
title: Pixels | Issue 1
description: Pixels Magazine is a digital publication that celebrates the wonderful people at 500px. The individual pixels that contributes to our shared mission.
---

.wrapper#smooth
  .page_issue
    .dark_overlay
    .sticky_nav
      .sticky_nav_left
        %span.sticky_nav_toc_link
          Table of contents
      %span.sticky_nav_pixels_name
        Pixels
      .sticky_nav_right
        %a(href="mailto:jeff@500px.com")
          Questions / Feedback
    .sliding_toc
      .toc
        .toc_block.goto_one
          %span.toc_block_number
            No. 1
          %h2.toc_block_name
            Editors' Note
        .toc_block.large.goto_two
          %span.toc_block_number
            No. 2
          %h2.toc_block_name
            Profile: Lorena Pacheco Scott
          .toc_block_info
            %img.toc_block_info_image(src="/images/issues/sep2015/lorena_toc.jpg")
            %p.toc_block_info_quote
              “I love coming to work every day. I love the challenges, but more importantly I respect what everybody brings to the table and what they're teaching me.”
        .toc_block.goto_three
          %span.toc_block_number
            No. 3
          %h2.toc_block_name
            Meet the co-ops
        .toc_block.goto_four
          %span.toc_block_number
            No. 4
          %h2.toc_block_name
            Just married
    .cover_section
      / .cover_section_back
      /   %a(href="/")
      /     Go back
      .cover_section_align
        .top
          %h1.pixels_name
            Pixels
          %p.date
            Issue 1
        .toc
          .toc_block.goto_one
            %span.toc_block_number
              No. 1
            %h2.toc_block_name
              Editors' Note
          .toc_block.large.goto_two
            %span.toc_block_number
              No. 2
            %h2.toc_block_name
              Profile: Lorena Pacheco Scott
            .toc_block_info
              %img.toc_block_info_image(src="/images/issues/sep2015/lorena_toc.jpg")
              %p.toc_block_info_quote
                “I love coming to work every day. I love the challenges, but more importantly I respect what everybody brings to the table and what they're teaching me.”
          .toc_block.goto_three
            %span.toc_block_number
              No. 3
            %h2.toc_block_name
              Meet the co-ops
          .toc_block.goto_four
            %span.toc_block_number
              No. 4
            %h2.toc_block_name
              Just married
        / %span.start_reading
        /   Scroll down to start reading.
    .content_section.section_one
      %h2.content_section_heading
        Editors' Note
      %p.content_section_body
        Dear friend,
      %p.content_section_body
        Welcome to the first issue of Pixels. We often celebrate our work - the products, the releases, the metrics - but this magazine is not about any of those things. This magazine is about the people here. The wonderful people that we get the honour of working with each day, the individual pixels behind our shared mission.
      %p.content_section_body
        As our company grows, it may become more and more difficult to get to know all of our teammates as well as we'd like to. So this is my humble contribution to help keep us connected as we grow - across desks, across teams, across countries.
      %p.content_section_body
        So with that, I hope you enjoy some of the stories told in this issue, and get to know your friends at 500px a little better.
      %p.content_section_body
        Your friend,
      %p.content_section_body
        Jeff Shin
      .content_section_masthead
        %span.content_section_masthead_heading
          Designed, edited and published by Jeff Shin
        %span.content_section_masthead_heading
          Photography by David Charlec
    .content_section.section_two
      %h2.content_section_heading
        Lorena Pacheco Scott
      %img.content_section_image.main(src="/images/issues/sep2015/lorena_main.jpg")
      %p.content_section_body.bold
        Lorena is the VP of Operations at 500px. She's a Colombian turned American turned Canadian, with two kids and a wonderful personality. If you've ever had a conversation with her, you know that she carries with her an awesome energy that inspires everyone that she interacts with.
      .content_section_separator
      %p.content_section_body.bold
        You grew up in Columbia. Can you tell me a little bit about your childhood?
      %p.content_section_body
        I had a really awesome childhood. I'm the middle child of an older brother and a younger sister. We were very close - well, my brother used to beat me up, but generally very close. I grew up in a really lucky household: two parents who loved each other, kids who got along well, big family. I loved dancing and eating lots of food.
      %p.content_section_body.bold
        When you were young, what did you want to be when you grew up?
      %p.content_section_body
        Originally, a doctor, and then I didn't do well in science so I decided that it was probably not the best path. Then I just wanted to be like my dad - he's an entrepreneur and I really admired him in how he led and managed people. He's my inspiration.
      %p.content_section_body.bold
        How do you think  growing up in Colombia affected your life?
      %p.content_section_body
        I grew up in Colombia in the 80s and 90s, which was a bit of a shitshow. Bombs were going off, so there was a lot of security at the time. There was a war between the guerrillas, the drug traffickers, the US government and the Colombian government, so I would say it helped me deal with chaos really well. I'm not really afraid of anything because I grew up in Bogotá.
      %p.content_section_body
        It also really made me proud. The media around the events in Colombia were so awful, and oftentimes totally exaggerated. So it made me even more protective of where I grew up, because not all Colombians were the way they were portrayed in the media. So now I fight for the people when others misspell Colombia. It gave me a big sense of pride for anything that matters to me. Family, friends, work.
      %img.content_section_image.pull.left(src="/images/issues/sep2015/lorena_2.jpg")
      %p.content_section_body.bold
        You're very well educated - especially receiving your MBA from Harvard Business School. What were your college years like?
      %p.content_section_body
        Fun. I went to a small school in Boston called Babson College. I graduated with 300 students all of which studied finance, entrepreneurship, or some form of business. It was in Wellesley which was a dry town, so Babson - being very entrepreneurial - incorporated the town so we could have a pub. It was also a small school, very international, so I got to make friends from all over the world. My closest friends are Turkish and Greek. We danced a lot and partied a lot.
      %p.content_section_body.bold
        What are your thoughts on the post-secondary school system?
      %p.content_section_body
        I totally disagree with some people that say it's not important. Not so much for what you learn in the classroom - although depending on where you go it's also invaluable - it's just the people that you meet and what they teach you, the experiences they share with you that totally form who you are. Family to me is the people that I grew up with, but also the friends that I made both in undergrad and grad school, and I can't imagine not having those experiences to shape me. It's just so fundamental to who I am.
      %p.content_section_body.bold
        So you founded a company - MommiesFirst. Can you tell me about how that began?
      %p.content_section_body
        I studied entrepreneurship in undergrad, and like I mentioned, my dad is an entrepreneur. I always wanted to be like him, but I just never had an idea. Then my husband (Sandy) and I moved to Canada with a 3 month old. I was the most unprepared mother on the earth. I didn't even want kids until I met Sandy. I knew he'd be a really great dad, but I wasn't so sure about me as a mother.
      %img.content_section_image.pull.right(src="/images/issues/sep2015/lorena_3.jpg")
      %p.content_section_body
        Also, this was around the time that Birchbox had launched, and all the other monthly box services had been sprouting up. I thought, wouldn't it be great to do something like that for a pregnant mom-to-be or a new mom. I remembered feeling so unprepared, so it seemed really relevant because your baby and your body are changing month to month during pregnancy.
      %p.content_section_body
        So after my second son was born, I had a year long maternity leave - which is unheard of in the US - so I thought "what am I gonna do for a year?" Oh, I'll start a company. So I started it, and between the time we did the focus group and the time when we launched the website and started selling boxes was about 9 months. For me it felt really fast, and now when I look at 500px, it doesn't seem as fast.
      %blockquote.content_section_blockquote.pull.left
        "This was the first time that I realized that even if you work hard, it isn't necessarily going to translate into this huge success."
      %p.content_section_body
        Starting a company was the hardest thing I've ever done. Sandy always asks me if I would do it again, and I always say no. Starting a company is this awful and great combination of personal and professional. Here at 500px you can separate out your personal life, and there's not as much emotion, whereas when it's your business baby, the two are always intertwined, and you can never turn off.
      %p.content_section_body
        This sounds strange, but I have never failed in my life. And MommiesFirst was never something that would be a huge success. So from an ego perspective, that was tough. My attitude has always been if you put your head down and work hard, you will find success. This was the first time that I realized that even if you work hard, it isn't necessarily going to translate into this huge success.
      %p.content_section_body.bold
        How do you find work life balance, when you oversee operations at 500px but also have two kids and a husband at home?
      %p.content_section_body
        Work life balance is myth. But honestly, I have a really great husband. We met in school, so he's valued and appreciated my desire to make a difference in the world through work. He always tells me to define what's enough for the people at 500px and to define what's enough for the kids and the husband. He's just awesome.
      %img.content_section_image.fit(src="/images/issues/sep2015/lorena_4.jpg")
      %p.content_section_body.bold
        If you could go back in time and tell your pre-children self something, what would it be?
      %p.content_section_body
        Get more sleep. Sleep now. My instinct is to say have fun, but I had a lot of fun. I wasn't young in having kids either, so I was selfish enough in my 20s that by the time I was ready to have kids, I was like okay. Let's do this. But yeah, get more sleep, for sure.
      %p.content_section_body.bold
        Why did you decide to join 500px?
      %p.content_section_body
        Janice, Andy, Sandy and I moved to Toronto at the same time, so we met relatively soon after arriving in this cold world. We became friends, so I came to Andy at 500px and said "Hey, I'm selling MommiesFirst. I really want to stay in the startup world but at a place that's more established. Do you know of companies in your network that might be looking for someone like me?" That was on Thursday, and by Monday I was in the office.
      %p.content_section_body
        It was a very unexpected journey. At the start, I came because of Andy, because I believed in his leadership, his work ethic, and what he was trying to do. And I was chatting with him recently and I said "I'm no longer here because of you - I'm here because I really respect and admire the team."
      %blockquote.content_section_blockquote.fit
        "I love coming to work every day. I love the challenges, but more importantly I respect what everybody brings to the table and what they're teaching me."
      %p.content_section_body
        So that's a long way of saying that I'm here because of the people. I love coming to work every day. I love the challenges, but more importantly I respect what everybody brings to the table and what they're teaching me.
      .content_section_table.pull.right
        .content_section_table_row
          %span.content_section_table_header
            Hometown
          %span.content_section_table_body
            Bogotá
        .content_section_table_row
          %span.content_section_table_header
            Nickname
          %span.content_section_table_body
            Lore, Lorenita
        .content_section_table_row
          %span.content_section_table_header
            Music
          %span.content_section_table_body
            Vallenato, George Ezra, Matchbox 20, 'that blonde woman' (referring to Taylor Swift)
        .content_section_table_row
          %span.content_section_table_header
            Books
          %span.content_section_table_body
            <i>A Tale of Two Cities</i> by Charles Dickens
        .content_section_table_row
          %span.content_section_table_header
            Camera
          %span.content_section_table_body
            Canon Elph
      %p.content_section_body.bold
        How do you like living in Canada, and what do you miss about living in the US?
      %p.content_section_body
        It's so cold. So this can't be shared with Sandy, but I do really like living here. I love New York - we left New York to come here - so it's the city in my heart, but I wouldn't want to raise two kids there. Canada's a good place to live. I do miss the shopping. It sounds so superficial, but it's just not the same here.
      %p.content_section_body.bold
        What's a goal in life that drives you today?
      %p.content_section_body
        A lot of people know Harvard Business School as a business school, and I think rightfully or wrongfully so, it's developed a reputation. But its motto is to develop leaders that will make an impact on the world, and I believe that every student fundamentally believes that going into the school.
      %p.content_section_body
        I don't think I've done that quite yet. I've had professional success, but I don't think I've made a difference in the world. At some point I'd like to be a part of an organization at a leadership level that is not just making money, but is making life better for people, and is giving people a voice that don't necessarily have one.
    .content_section.section_three
      %h2.content_section_heading
        Meet the co-ops
      %p.content_section_body
        Every couple months, we welcome a couple awesome people to join our team temporarily as a part of their co-op terms. They're so talented and great that it's hard to say goodbye to them, and I usually try to convince them to drop out and join us full time.
      %p.content_section_body
        Despite their short stay with us, they make a tremendous impact on our culture. Also, given all their potential for great success, it's an honour that we get to be one of the stepping stones in their journey.
      .content_section_separator
      .content_section_person
        %img.content_section_image.small(src="/images/issues/sep2015/ling.jpg")
        .content_section_profile
          %span.content_section_name
            Ling Meng
          %span.content_section_subtitle
            Web Team
        %p.content_section_body.bold
          Favourite thing about 500px
        .content_section_table.pull.right
          .content_section_table_row
            %span.content_section_table_header
              School
            %span.content_section_table_body
              University of Waterloo
          .content_section_table_row
            %span.content_section_table_header
              Program
            %span.content_section_table_body
              Software Engineering
          .content_section_table_row
            %span.content_section_table_header
              Year
            %span.content_section_table_body
              Three
        %p.content_section_body
          Power hour and the food - most importantly, the bubbling water. I'm also glad I got the chance to attend the series B party, it was super awesome. It was also cool to join a photo sharing company, not as a user but as someone who can actually make the things that people use.
        %p.content_section_body.bold
          What are you doing in 10 years?
        %p.content_section_body
          Working somewhere, maybe 500px. Maybe in 10 years I'll be in the valley, having my own startup. But I have no idea how to start a startup right now.
      .content_section_separator
      .content_section_person
        %img.content_section_image.small(src="/images/issues/sep2015/furqan.jpg")
        .content_section_profile
          %span.content_section_name
            Furqan Qureshi
          %span.content_section_subtitle
            Platform Team
        %p.content_section_body.bold
          Favourite thing about 500px
        .content_section_table.pull.right
          .content_section_table_row
            %span.content_section_table_header
              School
            %span.content_section_table_body
              University of Waterloo
          .content_section_table_row
            %span.content_section_table_header
              Program
            %span.content_section_table_body
              Software Engineering
          .content_section_table_row
            %span.content_section_table_header
              Year
            %span.content_section_table_body
              Three
        %p.content_section_body
          I like the fact that it's not monotonous. Every day you don't really know what you can expect. I work on the platform team and sometimes things will break or parts of the system will go down, and Kevin's siren will go off. I like the thrill of solving problems like that that need to be addressed right away. I also like that I got to work on things that affected many users.
        %p.content_section_body.bold
          What are you doing in 10 years?
        %p.content_section_body
          I'd like to work on an idea of my own, maybe a little after I graduate. I don't want to be an entrepreneur for the shit of it, or work on a startup for the shit of it. I want to address meaningful problems. i don't know what that is yet but on my way, I'm developing skills, and just exploring.
      .content_section_separator
      .content_section_person
        %img.content_section_image.small(src="/images/issues/sep2015/ana.jpg")
        .content_section_profile
          %span.content_section_name
            Anastasia Santasheva
          %span.content_section_subtitle
            Product Team
        %p.content_section_body.bold
          Favourite thing about 500px
        .content_section_table.pull.right
          .content_section_table_row
            %span.content_section_table_header
              School
            %span.content_section_table_body
              University of Waterloo
          .content_section_table_row
            %span.content_section_table_header
              Program
            %span.content_section_table_body
              Systems Design Engineering
          .content_section_table_row
            %span.content_section_table_header
              Year
            %span.content_section_table_body
              Three
        %p.content_section_body
          Geez, there's so much. The hack weekend is turning out to be really fun. Akbar and I are working on a really cool project - he calls it censorship but it's like being a hooligan about search terms and finding a cool way to troll people about their inappropriate search terms.
        %p.content_section_body
          Also, being able to work with a lot of data and things that are directly in contact with the user are cool. Not necessarily the app or the features, but things that directly influence KPIs. You get to stay really in touch with how we're making money, what's really a burning problem, why are uploads slacking. YOu feel the constant urge when you don't see the numbers change each week - you feel it in your heart, like "oh no I need to fix this!".
        %p.content_section_body.bold
          What are you doing in 10 years?
        %p.content_section_body
          I don't even know what I'm doing in four months.
        %p.content_section_body
          When I was in high school, I thought, okay, I'm going to go down the tech route and get a lot of technical experience. But I have too many product opinions to be a developer, so I thought I'll do some combination of design and product, but know how it works by having a development background.
        %p.content_section_body
          But I found I've gotten really pulled into and excited about dev and I really like building things... So I don't know, maybe a growth hacker of sorts? Maybe in a small to medium company? Maybe I'll go down the product management route. Hopefully Toronto, or maybe SF. Maybe here. That would be fun.
      .content_section_separator
      .content_section_person
        %img.content_section_image.small(src="/images/issues/sep2015/julian.jpg")
        .content_section_profile
          %span.content_section_name
            Julian Villella
          %span.content_section_subtitle
            Mobile Team
        %p.content_section_body.bold
          Favourite thing about 500px
        .content_section_table.pull.right
          .content_section_table_row
            %span.content_section_table_header
              School
            %span.content_section_table_body
              Mohawk College
          .content_section_table_row
            %span.content_section_table_header
              Program
            %span.content_section_table_body
              Software Development
          .content_section_table_row
            %span.content_section_table_header
              Year
            %span.content_section_table_body
              Three
        %p.content_section_body
          Probably being in the darkroom busting out the final few weeks of our last release for v4 iOS and tackling problems with the rest of the team. It was nice getting to know each other and doing working on  challenges.
        %p.content_section_body
          The culture is awesome, the people are awesome - so much talent in one room is exciting. It's always an honour to be with the mobile team and to learn from them.
        %p.content_section_body.bold
          What are you doing in 10 years?
        %p.content_section_body
          I'll probably be either working at a startup or founding a startup, maybe as the CTO. I like the technical side of things, but I also enjoy being at the top <i>[laughs maniacally]</i>.
    .content_section.section_four
      %h2.content_section_heading
        Just married
      %p.content_section_body
        As Andy frequently says - we owe so much to our significant others for their continued support, as work can sometimes take away from the time we can spend with them.
      %p.content_section_body
        This past month, two of our friends got married to their lovely significant others. On behalf of everyone at 500px, we wish them a lifetime of happiness.
      .content_section_wedding
        %img.content_section_wedding_photo(src="/images/issues/sep2015/janet.jpg")
        .content_section_wedding_info
          %span.content_section_wedding_name
            Janet & John
          %span.content_section_wedding_date
            August 1st, 99 Sudbury, Toronto
          %p.content_section_wedding_text.bold
            About John
          %p.content_section_wedding_text
            John is a math / computer science / robotics teacher. He likes to eat and has to patiently wait for me to take pictures of what we cook and eat.
      .content_section_separator
      .content_section_wedding
        %img.content_section_wedding_photo(src="/images/issues/sep2015/michael.jpg")
        .content_section_wedding_info
          %span.content_section_wedding_name
            Michael & Aurore
          %span.content_section_wedding_date
            August 15th, Willistead Manor, Windsor
          %p.content_section_wedding_text.bold
            About Aurore
          %p.content_section_wedding_text
            Aurore is French - directly from France, not the Quebec pseudo-kind. She's a fellow computer scientist who enjoys dancing and playing the violin.
    .thankyou_section
      %h2.content_section_heading.thanks
        Thank you
      %p.content_section_body.center
        Special thanks to Vova for being Vova, Hailey for the editing, David for the photography, Lorena, Ling, Furqan, Anastasia, Julian, Janet, and Mike for being great interviewees, Adam for the design feedback, and most importantly, the weekend hackathon crew for the moral support.










