---
title: Pixels | Issue 2
description: Pixels Magazine is a digital publication that celebrates the wonderful people at 500px. The individual pixels that contributes to our shared mission.
---

.wrapper#smooth
  .page_issue
    %a.back_link(href="/")
      Back to home
    .dark_overlay
    .sticky_nav
      .sticky_nav_left
        %span.sticky_nav_toc_link
          Table of contents
      %a.sticky_nav_pixels_name(href="/")
        Pixels
      .sticky_nav_right
        %a(href="mailto:jeff@500px.com")
          Questions / Feedback
    .sliding_toc
      .toc
        .toc_block.goto_one
          %span.toc_block_number
            No. 1
          %h2.toc_block_name
            Editors' Note
        .toc_block.large.goto_two
          %span.toc_block_number
            No. 2
          %h2.toc_block_name
            Profile: Alexandra Kim
          .toc_block_info
            %img.toc_block_info_image(src="/images/issues/oct2015/ak_toc.jpg")
            %p.toc_block_info_quote
              “The best thing about 500px is the team. I consider everyone I work with a friend, and it's like not being able to see your friends after spending so much time with them.”
        .toc_block.goto_three
          %span.toc_block_number
            No. 3
          %h2.toc_block_name
            San Francisco, the city of __________
        .toc_block.goto_four
          %span.toc_block_number
            No. 4
          %h2.toc_block_name
            Guide to San Francisco
    .cover_section
      .cover_section_align
        .top
          %h1.pixels_name
            Pixels
          %p.date
            Issue 2
        .toc
          .toc_block.goto_one
            %span.toc_block_number
              No. 1
            %h2.toc_block_name
              Editors' Note
          .toc_block.large.goto_two
            %span.toc_block_number
              No. 2
            %h2.toc_block_name
              Profile: Alexandra Kim
            .toc_block_info
              %img.toc_block_info_image(src="/images/issues/oct2015/ak_toc.jpg")
              %p.toc_block_info_quote
                “The best thing about 500px is the team. I consider everyone I work with a friend, and it's like not being able to see your friends after spending so much time with them.”
          .toc_block.goto_three
            %span.toc_block_number
              No. 3
            %h2.toc_block_name
              San Francisco, the city of __________
          .toc_block.goto_four
            %span.toc_block_number
              No. 4
            %h2.toc_block_name
              Guide to San Francisco
    .intro_section.section_one
      %h2.content_section_heading
        Editors' Note
      %p.content_section_body
        Hi friends,
      %p.content_section_body
        What a busy month September turned out to be. I did a lot of travelling, and one of the stops in my travels was San Francisco, where I spent a week working with Adam and the San Francisco team - Ellen, AK, and Klassy.
      %p.content_section_body
        Being remote for a week opened my eyes to many of the challenges that the teams in San Francisco and New York face. How the difference in time zones affects the cadence of your day. How it's nearly impossible to have serendipitous chats with other team members. How you have to rely on Hangouts for all meaningful discussions, jumping through hoops of technical issues ('Can you hear me now?'). And don't even get me started on what it's like to tune into Power Hour.
      %p.content_section_body
        Of course, some of this is unavoidable, something we just have to work around. However, there's a lot we can do to make sure our friends in San Francisco and New York are just as connected, and remain an integral part of our culture. Especially as the teams in those cities grow.
      %p.content_section_body
        Fortunately, we're making some progress, like improvements to our remote communication stack. However, tools and software alone can't solve everything. So when you get a chance, strike up a random conversation with someone who is remote. Say hello, ask about the weather, and when they're visiting Toronto or you're visiting one of those cities, take them out for a coffee or something.
      %p.content_section_body
        With that, I'm unofficially calling this issue the San Francisco issue. In it are some conversations and stories from our friends out west. I hope this helps you get to know them a little bit better.
      %p.content_section_body
        Your friend,
      %p.content_section_body
        Jeff Shin
      .content_section_masthead
        %span.content_section_masthead_heading
          Designed, published, and photographed by Jeff Shin
    .content_section.section_two
      %h2.content_section_heading
        Alexandra Kim
      %img.content_section_image.main(src="/images/issues/oct2015/ak_main.jpg")
      %p.content_section_body.bold
        Alexandra Kim, although more commonly known as AK, is the Product Marketing Manager at 500px. She's an incredibly passionate and dedicated individual, but more importantly, a wonderful friend. The Toronto office misses her very much.
      .content_section_separator
      %p.content_section_body.bold
        You had a very international upbringing, having lived in lots of places around the world. What was that like?
      %p.content_section_body
        It was awesome. It taught me to be accepting of all people, and open and adaptable to every situation from a very young age. These are values that are still extremely important to me.
      %p.content_section_body.bold
        We both went to U of T and ended up dropping out. What was your university experience like, and what made you drop out?
      %p.content_section_body
        Yeah, thanks Andy*. The most prominent thing I remember about my university experience is negative, which is unfortunate, but it's that U of T is very alienating. There's over 60,000 students in a given year - that's a small city! I dropped out because by that time I already had a degree's worth of real world learnings and work experience. You go to school to learn, but I was learning a hell of a lot more actually working than sitting in a classroom.
      %p.content_section_body
        *This isn't sarcastic. Thank you.
      %img.content_section_image.pull.left.portrait(src="/images/issues/oct2015/ak_2.jpg")
      %p.content_section_body.bold
        What was it like interning at Facebook?
      %p.content_section_body
        Working at Facebook makes you feel like you're curing cancer. They are incredibly strong at promoting company values and culture. Unrelated story: I remember I was once in the cafeteria with a bunch of other interns and we saw Zuck. One of them asked if we could take a picture with him. He did not seem too happy about it. But he agreed anyways!
      %p.content_section_body.bold
        Why 500px?
      %p.content_section_body
        I joined 500px because of its position in the Toronto tech scene and potential growth opportunities. (There was also the secondary reason that I love that 500px is in the creative space.) In SF there are a lot of tech companies that are a lot more prominent than 500px. But the growth opportunities still remain and that's exciting.
      %p.content_section_body.bold
        You worked with the Toronto team for a year or so, then moved to SF. What's something you miss most about Toronto?
      %p.content_section_body
        I miss being able to see and talk to everyone in person every day. The best thing about 500px is the team. I consider everyone I work with a friend, and it's like not being able to see your friends after spending so much time with them.
      %p.content_section_body.bold
        What's something you miss least about Toronto?
      %p.content_section_body
        The winters. And how homogenous it is.
      .content_section_table.pull.right
        .content_section_table_row
          %span.content_section_table_header
            Hometown
          %span.content_section_table_body
            What is a "hometown", really?
        .content_section_table_row
          %span.content_section_table_header
            Nickname
          %span.content_section_table_body
            AK, of course.
        .content_section_table_row
          %span.content_section_table_header
            Music
          %span.content_section_table_body
            I like all types of music, from classical to hip hop to country, but recently I've really been digging the album "Do What You Love" by Ta-Ku. Follow me on <a href="http://rdio.com/people/akhkim" target="_blank">Rdio</a>.
        .content_section_table_row
          %span.content_section_table_header
            Books
          %span.content_section_table_body
            <i>One Hundred Years of Solitude</i> by Gabriel Garcia Marquez
        .content_section_table_row
          %span.content_section_table_header
            Camera
          %span.content_section_table_body
            iPhone 6
      %p.content_section_body.bold
        How do you feel about living in SF? Can you see yourself moving somewhere else later on?
      %p.content_section_body
        I love living in SF, but can definitely see myself moving somewhere else later on. The longest period of time I lived somewhere was Toronto, and I lived there for 4.5 years.
      %p.content_section_body.bold
        Walk me through your usual Monday.
      %p.content_section_body
        I try to be online by 7:30am PT every day, which is 10:30am ET. I spend the morning reviewing the prior week's key metrics and putting together my reports for my pillar weekly meetings over a cup of Sightglass coffee. I'll usually pop in to the Monday stand up via Hangout, mainly to hear Lorena's bad joke of the week.
      %p.content_section_body
        These days I have a weekly logo launch check in meeting from 10 - 11am, then the sales pillar meeting from 11 - noon, more coffee, and then the marketing pillar meeting from 1 - 2pm. By then things start to quiet down over slack and email, as the people on the East coast start to go offline. Then the real work begins! I spend this time working on marketplace lead gen, subscription revenue projects, planning product/feature launches, PR or event coordination, etc. I'm usually out of the office at around 7 or 8pm.
      %img.content_section_image.fit(src="/images/issues/oct2015/ak_3.jpg")
      %p.content_section_body.bold
        I've personally been a big fan of the photos you take - it feels very real, for a lack of a better word, and it's an interesting glimpse into your life. What's the process or inspiration behind them?
      %p.content_section_body
        Thank you! The inspiration does come from every day life. I don't really take the time to stage things, I like looking for interesting angles or shots that I see around me. These days I'm really enjoying taking shots that take advantage of light and shadows.
      %p.content_section_body.bold
        What's the most valuable lesson you've learned in 2015?
      %p.content_section_body
        You choose the life you lead. Your happiness depends on you and what you're going to do to achieve it.
      %img.content_section_image.main(src="/images/issues/oct2015/ak_4.jpg")
    .content_section.section_three
      %h2.content_section_heading
        San Francisco, the city of __________
      %img.content_section_image.fit(src="/images/issues/oct2015/sf.jpg")
      %p.content_section_body
        San Francisco is a very interesting place. I'm sure many of you reading this have visited before, or maybe you've lived there too. But even if you've never been, I'm sure you've heard stories, tweets, angry op-ed pieces and blog posts about San Francisco. The cost of living, the unending list of food delivery services, the homeless population.
      %p.content_section_body
        We all may have our own ideas and opinions on the city, but let's hear them from the people that call San Francisco their home.
      .content_section_separator
      .content_section_profile
        %span.content_section_name
          Ellen Desmarais
        %span.content_section_subtitle
          VP of Marketing
      %p.content_section_body.bold
        How long have you lived in SF?
      %p.content_section_body
        I have lived in Palo Alto for 13 months.
      %p.content_section_body.bold
        Where were you living before?
      %p.content_section_body
        The Upper West Side of New York.
      %p.content_section_body.bold
        What’s your favourite thing about SF?
      %p.content_section_body
        Great food, amazing views, and Bi-Rite salted caramel ice cream.
      %p.content_section_body.bold
        What’s your least favourite thing about SF?
      %p.content_section_body
        Driving the hills, the fog, and the fact that you cannot get a good bagel in this town.
      %p.content_section_body.bold
        What’s the craziest thing you’ve seen on the streets of SF?
      %p.content_section_body
        Lombard Street. Who thought that was a good idea?
      %p.content_section_body.bold
        Finish the statement: San Francisco, the city of __________.
      %p.content_section_body
        San Francisco, the city of hills, thrills and chills.
      .content_section_separator
      .content_section_profile
        %span.content_section_name
          Klassy Goldberg
        %span.content_section_subtitle
          Social Media and Content Editor
      %p.content_section_body.bold
        How long have you lived in SF?
      %p.content_section_body
        I've lived here for 5 years now...since 2009! It's the only U.S. city I've ever lived in.
      %p.content_section_body.bold
        Where were you living before?
      %p.content_section_body
        I was born and raised in Quezon City, Philippines all my life. I moved here permanently in 2009 when I got married.
      %p.content_section_body.bold
        What’s your favourite thing about SF?
      %p.content_section_body
        Everywhere you go, the views are sublime. You can throw a camera in the air and land an awesome shot of San Francisco. You get the best of both worlds here: city life and countryside. The most beautiful hiking spots and wine country are just a half-hour to an-hour-and-a-half drive away.
      %p.content_section_body.bold
        What’s your least favourite thing about SF?
      %p.content_section_body
        The weather is schizophrenic. The changing micro-climates that vary per neighborhood in a matter of a few hours can inconvenience you, especially when you plan your outfit. The hilly streets, while they make the city beautiful, are always a challenge. Never leave home without a jacket and a change of shoes. Also, to this day, there are no good bagel places in the city - why is that?
      %p.content_section_body.bold
        What’s the craziest thing you’ve seen on the streets of SF?
      %p.content_section_body
        There's always something crazy to see here. I've seen fashion designer Betsey Johnson spray paint graffiti on a side of a building; that was fun to watch her do something mischievous live. I've seen Alexander Skarsgard dressed in full drag during one of his movie premieres here. I've seen a long queue of people wrapping around two blocks in Union Square—and the line was for a meet and greet with Grumpy Cat. This is almost the same line you'd get see every Saturday morning for brunch at a few restaurants, even food trucks.
      %p.content_section_body
        What I love about SF is that we're a very liberal city. You're free to be you, I'm free to be me. By far, the craziest thing I've ever seen is a group of naked Santas during Santa Con season wearing nothing but Santa hats and socks. But they were just hanging out, minding no one though, like it was no big deal. It was hilarious and weird! People were even taking selfies with them.
      %p.content_section_body.bold
        Finish the statement: San Francisco, the city of __________.
      %p.content_section_body
        San Francisco, the city of #KarltheFog - it's his world and we just live in it.
      .content_section_separator
      .content_section_profile
        %span.content_section_name
          Alexandra Kim
        %span.content_section_subtitle
          Product Marketing Manager
      %p.content_section_body.bold
        How long have you lived in SF?
      %p.content_section_body
        I just passed my one year mark!
      %p.content_section_body.bold
        Where were you living before?
      %p.content_section_body
        The 6ix. Wait, is that how you spell it? Ugh.
      %p.content_section_body.bold
        What’s your favourite thing about SF?
      %p.content_section_body
        The people! Majority of people I've met here are an awesome and surprising combo of super friendly and super focused.
      %p.content_section_body.bold
        What’s your least favourite thing about SF?
      %p.content_section_body
        The smells. Seriously, I'm still trying to get used to the random phenomenon of being suddenly overwhelmed by the smell of urine.
      %p.content_section_body.bold
        What’s the craziest thing you’ve seen on the streets of SF?
      %p.content_section_body
        Dreamforce. 160,000 people flying in to SF for a SALESFORCE CONFERENCE. I mean...
      %p.content_section_body.bold
        Finish the statement: San Francisco, the city of __________.
      %p.content_section_body
        San Francisco, the city of dichotomies.
    .content_section.section_four
      %h2.content_section_heading.with_subheading
        Guide to San Francisco
      %span.content_section_subheading
        By Klassy Goldberg
      %p.content_section_body
        I must admit, I'm a homebody. Not gonna lie - the perfect weekend for me involves staying at home, playing with my kittens, reading a couple of good books, having a Netflix marathon, organizing my stuff, and sleeping in.
      %p.content_section_body
        So if I have to leave the house, it's got to be for good reason! Luckily, I live in San Francisco. It's not only one of the most exciting cities in the world - it's also a city made for introverts with lots of places to refuel inner energy reserves and have some quiet time.
      .content_section_separator
      %p.content_section_body.extra_margin
        My favorite go-to spots in SF:
      %p.content_section_body.bold
        %a(href="http://www.castrotheatre.com/" target="_blank")
          Castro Theatre
      %p.content_section_body
        I'm a big film geek, and though I'm all about #NeftlixAndChill, I still love seeing a movie at the cinema. The Castro Theatre is in my own neighborhood, and it is not only historic with some of its art deco architecture preserved, but they also screen the most memorable films, from cult classics to silent films to Disney singalongs to triple-bill movie marathons that screen past midnight.
      %p.content_section_body.bold
        %a(href="http://www.mrholmesbakehouse.com/" target="_blank")
          Mr. Holmes Bakehouse
      %p.content_section_body
        I get baked in San Francisco, and by that I mean, I get the best baked goods here in the city. One of my go-to places for that is this bakery in the Tenderloin, famous for their cruffin a.k.a. croissant muffin. They also serve Sightglass coffee so it's the perfect start to my day coming here.
      %p.content_section_body.bold
        %a(href="https://www.sightglasscoffee.com/" target="_blank")
          Sightglass Coffee
      %p.content_section_body
        And speaking of coffee, there are many places to get buzzed in SF - we have some of the best coffee in the U.S., like Blue Bottle, Philz, and more. But my favorite one is Sightglass. This awesome tilework is in one of their locations. #ihavethisthingwithfloors so I come here a lot with a book or my laptop.
      %p.content_section_body.bold
        %a(href="http://www.bobaguys.com/" target="_blank")
          Boba Guys
      %p.content_section_body
        Growing up in Asia, I'm a big fan of milk tea. Boba Guys in the Mission is pretty authentic, and they even ask you about the level of sweetness. They're the only ones that import pineapple cakes from the best pineapple cake producers in Taipei, Sunnyhill. I also love the modern and clean interiors of the place.
      %p.content_section_body.bold
        %a(href="http://www.nps.gov/goga/planyourvisit/fortfunston.htm" target="_blank")
          Fort Funston and Ocean Beach
      %p.content_section_body
        Back when I lived in the Philippines, every weekend used to be all about reading, swimming, and doing everything by the beach. In San Francisco, I still have some of that with Ocean Beach. Except the waters and weather aren't as warm, which sucks. Luckily, there are many great hiking spots surrounding the beach. One of them is the dog-friendly Fort Funston, and I go there when we dogsit for our friends.
      %p.content_section_body.bold
        Shops in the Mission and Hayes Valley
      %p.content_section_body
        For books, clothes, shoes, and home goods, I hit up the local shops in the Mission or Hayes Valley when I am not online shopping. Most shop owners here have a great eye for art, literature, design, and what's usually "Pinteresting" and cool, so I always want to stock up on their merchandise and support buying locally-sourced and locally-made stuff. #Locavore
    .thankyou_section
      %h2.content_section_heading.thanks
        Thank you
      %p.content_section_body.center
        Special thanks to the San Francisco team for treating me very well and Adam for being a great travel buddy.

