---
title: Pixels | Issue 3
description: Pixels Magazine is a digital publication that celebrates the wonderful people at 500px. The individual pixels that contributes to our shared mission.
---

.wrapper#smooth
  .page_issue
    %a.back_link(href="/")
      Back to home
    .dark_overlay
    .sticky_nav
      .sticky_nav_left
        %span.sticky_nav_toc_link
          Table of contents
      %a.sticky_nav_pixels_name(href="/")
        Pixels
      .sticky_nav_right
        %a(href="mailto:jeff@500px.com")
          Questions / Feedback
    .sliding_toc
      .toc
        .toc_block.goto_one
          %span.toc_block_number
            No. 1
          %h2.toc_block_name
            Editors' Note
        .toc_block.large.goto_two
          %span.toc_block_number
            No. 2
          %h2.toc_block_name
            Profile: Andy Yang
          .toc_block_info
            %img.toc_block_info_image(src="/images/issues/jan2016/andy_toc.jpg")
            %p.toc_block_info_quote
              “The highs are super high, and the lows are super low.  Some days we'll close a huge deal, and the next day you upset the entire community - and you know people you love and care about are doing extra work / stressing more because of your mistakes / lack of insight.”
        .toc_block.goto_three
          %span.toc_block_number
            No. 3
          %h2.toc_block_name
            The King of Fridays
        .toc_block.goto_four
          %span.toc_block_number
            No. 4
          %h2.toc_block_name
            317 Adelaide Street, Unit 704
    .cover_section
      .cover_section_align
        .top
          %h1.pixels_name
            Pixels
          %p.date
            Issue 3
        .toc
          .toc_block.goto_one
            %span.toc_block_number
              No. 1
            %h2.toc_block_name
              Editors' Note
          .toc_block.large.goto_two
            %span.toc_block_number
              No. 2
            %h2.toc_block_name
              Profile: Andy Yang
            .toc_block_info
              %img.toc_block_info_image(src="/images/issues/jan2016/andy_toc.jpg")
              %p.toc_block_info_quote
                “The highs are super high, and the lows are super low.  Some days we'll close a huge deal, and the next day you upset the entire community - and you know people you love and care about are doing extra work / stressing more because of your mistakes / lack of insight.”
          .toc_block.goto_three
            %span.toc_block_number
              No. 3
            %h2.toc_block_name
              The King of Fridays
          .toc_block.goto_four
            %span.toc_block_number
              No. 4
            %h2.toc_block_name
              317 Adelaide Street, Unit 704
    .intro_section.section_one
      %h2.content_section_heading
        Editors' Note
      %p.content_section_body
        Hi friends,
      %p.content_section_body
        It's been a while! The end of 2015 was quite busy, and I wasn't able to publish the third issue of Pixels until now. Turns out, creating each new issue of Pixels is a significant amount of work - work that has to be done on top of my normal job.
      %p.content_section_body
        However, it's all worth it, especially in 2016. Our team keeps growing and growing, and that means it's even more important to continue to tell stories of the people at 500px. I'm looking forward to sharing even more stories in a wider variety of formats this year, so I may be asking some of you for help in contributing to Pixels to make it even better.
      %p.content_section_body
        So with that, I hope you enjoy this issue of Pixels. As always, please send any feedback or suggestions my way.
      %p.content_section_body
        Your friend,
      %p.content_section_body
        Jeff Shin
      .content_section_masthead
        %span.content_section_masthead_heading
          Designed and published by Jeff Shin
        %span.content_section_masthead_heading
          Photography by Tim Gaweco

    / Andy Interview

    .content_section.section_two
      %h2.content_section_heading
        Andy Yang
      %img.content_section_image.main(src="/images/issues/jan2016/andy_main.jpg")
      %p.content_section_body.bold
        Andy is the CEO of 500px. Aptly named our 'fearless leader', Andy is a fiercely competitive, Lululemon-clothed American who may have screamed at you, if you've ever played a game of ping pong or Towerfall with him. If you haven't, try to find some time to do so, as competing with him is an extraordinary experience.
      .content_section_separator
      %p.content_section_body.bold
        Tell me a little bit about your childhood.
      %p.content_section_body
        I was born in LA, the youngest child and only boy of two Taiwanese immigrants. I have two older sisters, Connie and Bonnie (and no, I was not supposed to be named Donnie - <a href="http://thesimpsons25yearsagotoday.com/2015/01/14/2-bart-the-genius/" target="_blank">rdrr</a>). We moved around a bit since my dad would buy motels in obscure places, like Flagstaff, Arizona, Griffith Park, and Colton, California. The five of us would live in the manager’s offices of these motels, so was pretty close quarters. I learned the value of hard work and entrepreneurism from my dad. We all pitched in, with my mom helping make beds and clean the rooms, while my sisters and I would roll quarters from the vending machines (and we would get to keep any extra change).
      %img.content_section_image.pull.right(src="/images/issues/jan2016/andy_1.jpg")
      %p.content_section_body
        We finally settled in a town called Diamond Bar, California - on the border of LA and Orange Counties. It was a good place to grow up, diverse - grew up with a lot of Chinese, Korean, and Indian 1.5 generation kids. Grew up loving basketball (Lakers), tennis, and most every other sport.
      %p.content_section_body.bold
        What did you want to be when you were in high school?
      %p.content_section_body
        Growing up, I was always fascinated by astronomy. As I mentioned earlier, we lived in Griffith Park which has a world class <a href="http://griffithobservatory.org/" target="_blank">observatory</a>. In high school, my interests shifted towards engineering and architecture. I took a course called Drafting, where we had to architect our own house. That fostered a love of building things, drawing, and writing / stationary (where my tiny, neat handwriting comes in).
      %p.content_section_body
        I distinctly remember a career info session where they went through all of the different types of engineers, and Civil Engineering jumped out at me (trivia fact - two oldest types of engineering 1/ Military 2/ Civilian). All my friends were getting in to Computer Science, and I wanted to be a bit different. Then I got into UC Berkeley which has the #1 Civil Engineering department in the world, and that's what set my college major.
      %p.content_section_body.bold
        What were your university years like? Were you a stereotypical UC Berkeley frat boy?
      %p.content_section_body
        I bifurcate my university years into two stages. The first was, very typical engineer - trying to get top grades, being shy and introverted. Then, my dad passed away, which changed everything for me. I stopped caring about grades and started to broaden my interests. I pledged a fraternity, became an orientation counselor, a resident assistant, and other social-centric activities. That didn't mix so well academically - I was put on academic probation and almost dropped out. My academic counselor asked me what was going on, and recommended that I see a grief counselor - who told me I was clinically depressed and helped me pull out of a funk.
      %p.content_section_body
        I learned a lot during that period - it was the first time I had ever failed at anything. It was humbling, but also taught me the value of really great friends, and how to be resilient. It also led to me accepting Christ in my life, which has been transformational for me. I could have turned out a much different person.
      %img.content_section_image.pull.left(src="/images/issues/jan2016/andy_2.jpg")
      %p.content_section_body.bold
        What brought you to Canada? How do you like living here compared to living in the US?
      %p.content_section_body
        Love. Remember these words fellas: Happy wife, happy life. Picture this - we just bought a house in the Bay Area, I had a great job at Netflix, just had our first baby. Then my wife gets her dream job - a tenure track assistant professorship in Psychology at Ryerson. So we packed up the whole family, rented out our house, and moved in the dead of winter in 2010. We didn't know a soul here.
      %p.content_section_body
        I like living here despite my incessant complaining. It's a great city/country, very clean and very safe. Taxes are a bit high and everything costs about 2x more, but have had a great run here. The winters are brutal though, but I like the fact I can take public transportation (I hate driving and suffer from road rage). The Toronto Tech ecosystem has also grown so much over the last five years, very blessed to be here. Found a great church, have a good community and starting to put down some roots here. Even had our second kid here - so she's a dual citizen (although she can never be President of the US).
      %p.content_section_body.bold
        How did you end up at 500px?
      %p.content_section_body
        I met the founders when I first moved to Canada as a VC. One of the angel investors, Michael Yavonditte, told me that I should meet the founders since the company was white hot. I met Oleg and kept in touch. When I moved on to Extreme Startups, an early stage accelerator, I asked him to be one of the mentors of the program. We hosted one of the Pixel Hack days at Extreme too. Then as Oleg and Evgeny were raising the Series A, I made some introductions for them - one turned out to be to A16Z. Then I found myself a free agent in the summer of 2014, and one of the calls I made was to Oleg. The rest, as they say, is history.
      %p.content_section_body.bold
        What’s the hardest thing about being a CEO?
      %p.content_section_body
        Managing my own psychology. The highs are super high, and the lows are super low. Some days we'll close a huge deal, and the next day you upset the entire community - and you know people you love and care about are doing extra work / stressing more because of your mistakes / lack of insight. So it's hard to be even keeled when here is so much vacillation - especially when jet lag and other personal stresses come into play. So I ask proactively for your forgiveness and understanding if I'm moody!
      %img.content_section_image.fit(src="/images/issues/jan2016/andy_3.jpg")
      .content_section_table.pull.right
        .content_section_table_row
          %span.content_section_table_header
            Hometown
          %span.content_section_table_body
            Diamond Bar, California
        .content_section_table_row
          %span.content_section_table_header
            Nickname
          %span.content_section_table_body
            1/ Yangstar 2/ Wubbie (only my wife calls me that)
        .content_section_table_row
          %span.content_section_table_header
            Music
          %span.content_section_table_body
            Marianas Trench, All-American Rejects, Taylor Swift, Hillsong United
        .content_section_table_row
          %span.content_section_table_header
            Books
          %span.content_section_table_body
            <i>Ender’s Game</i>, <i>A Heartbreaking Work of Staggering Genius</i>, <i>A Farewell to Arms</i>, <i>The Belgariad</i>
        .content_section_table_row
          %span.content_section_table_header
            Camera
          %span.content_section_table_body
            iPhone 6S+, Canon T2i
      %p.content_section_body.bold
        What’s the hardest thing about being a dad?
      %p.content_section_body
        Being patient with them. Sometimes after a long day I just want my girls to do what I want them to do - play well with each other, be nice, clean up, go to sleep without negotiation. But they are crazy and excited and want to play all the time. Its hard to match their energy level consistently. They are crazy, they are going to eat me alive - please help me...
      %p.content_section_body.bold
        What’s the most important thing you’ve learned from your parents?
      %p.content_section_body
        The importance of being earnest. All you have is your word, so let your yes be yes, and your no be no (Matthew 5:37). They were traditional, old school - especially my dad.
      %img.content_section_image.fit(src="/images/issues/jan2016/andy_5.jpg")
      %p.content_section_body.bold
        What’s a personal or professional accomplishment you’re most proud of in your life?
      %p.content_section_body
        Speaking at both my college graduation and my MBA graduation. At Cal, I chaired the Senior Class Gift, so I was given a few short minutes to present the gift and also say a brief speech - where I was able to thank my Mom and family. At Chicago Booth, I was class president so again I was able to thank my mom, wife, and family for all their support through the years. As a shy Asian kid with a bowl cut, I'd come a long way giving speeches to thousands.
      %p.content_section_body.bold
        What’s a non-work related goal you have for yourself in 2016?
      %p.content_section_body
        \#less.  Stressing less. Using less resources. Doing less. Spending less. Yelling less. Eating less. Drinking less. Being less hard on myself.
      %img.content_section_image.main(src="/images/issues/jan2016/andy_4.jpg")

    / section three

    .content_section.section_three
      %h2.content_section_heading
        The King of Fridays
      %img.content_section_image.main(src="/images/issues/jan2016/james.jpg")
      %p.content_section_body
        Some of you may not know this - I was once the host of Power Hour. Not only that, there is a famous lineage of Power Hour hosts (four, including myself) before James. Each Power Hour host came with their own unique flair and style, and there's no argument that James has a... unique flair. Let's hear from him on his experience running Power Hour so far.
      .content_section_separator
      %p.content_section_body.bold
        It's been a couple months since you've officially taken over Power Hour. How do you think you're doing?
      %p.content_section_body
        Good, so far. I think I have a bit of a schtick that won't necessarily work for all time, but as of now, I'm getting the job done. I was a little concerned that we were going to move from hosts who were all about smiles and thumbs up to my sarcastic, crotchety-old-man style.
      %p.content_section_body.bold
        Was hosting Power Hour what you thought it would be?
      %p.content_section_body
        Being Emperor of Power Hour is harder than it looks. More goes into it than you'd expect. Between making time for everyone who needs to speak, interviewing new candidates, writing the email and organizing kudos, there is some time that needs to go into it. This is especially challenging on account of the fact that I'm personally in a client facing role - if my clients need something on a Friday afternoon, then the idea of moving away from my desk and running Power Hour becomes daunting very suddenly.
      %p.content_section_body
        Also, I developed my own style for the Power Hour email, and that has taken on a life of it's own.
      %p.content_section_body.bold
        What's the hardest thing about running Power Hour?
      %p.content_section_body
        Crowd control. As we get bigger, and as we try to become more interactive, it is hard to keep 70ish people focused. There are certain people that insist on being heard by constantly yelling things out (i.e. Aaron, Emma) which inevitably sets off a wave of excitement. It's difficult to strike the balance between being relaxed and causal and keeping moving - everyone wants to begin their weekend.
      %p.content_section_body.bold
        What's your favourite memory of running Power Hour so far?
      %p.content_section_body
        When Jeff Hendler drank that greasy old bottle of flat ginger ale during his introduction interview. That thing had been sitting on my desk for weeks, and multiple people put their lips on it. It's no secret that he's won all of us over in his short tenure here, but that was the moment he stole my heart.
      %p.content_section_body.bold
        What's your vision for Power Hour looking forward?
      %p.content_section_body
        I want Power Hour to be a celebration. If we send every single person in the company away for the weekend with a feeling of outright excitement about all things going on at 500px, then Power Hour will truly accomplish it's purpose. I want to move it away from being nothing more than an info session - Lorena has done a good job of getting the ball rolling by moving a lot of the info/updates into the Monday standup, but we still have a lot of work to do.

    / section four

    .content_section.section_four
      %h2.content_section_heading.with_subheading
        317 Adelaide Street, Unit 704
      %p.content_section_body
        A little over two years ago, we moved from a small, but cute office with creaky floors to a much bigger office that many of us currently work in today. Here's a look back at some photos from the good ol' office on 317 Adelaide St.
      .content_section_separator
      .photo-grid
        %img.photo-grid--item(src="/images/issues/jan2016/office_1.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_2.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_3.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_4.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_5.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_6.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_7.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_8.jpg")
        %img.photo-grid--item(src="/images/issues/jan2016/office_9.jpg")

