---
title: Pixels Magazine Issue 2
description: Pixels Magazine is a digital publication that celebrates the wonderful people at 500px. The individual pixels that contributes to our shared mission.
---

.wrapper#smooth
  .page_issue
    %h1.superheading
      YOLO
