---
title: Pixels Magazine
description: Pixels Magazine is a digital publication that celebrates the wonderful people at 500px. The individual pixels that contributes to our shared mission.
---

.wrapper#smooth
  .page_home
    - data.issues.issues.each do |issue|
      %a.issue{:class => issue['id'], :id => issue['id'], :href => "/issues/#{issue['number']}"}
        %img{:src => "/images/issues/#{issue['id']}/cover.jpg"}
